<section class="container-fluid min-padding">
    <!-- slogan -->
    <div class="row align-items-center">
        <div class="col-lg-12 text-center">
            <div class="text-center">
                <h1 class="display-3" id="slogan">
                    Get the best
                    <img src="public/brand.svg" width="80" height="80" alt="brand-icon">
                    Pizza!
                </h1>
                <h1>@ Your door step</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <button type="button" class="btn btn-warning" id="items">Grab A Bite</button>
    </div>
</section>