<!-- items -->
<section class="container-fluid">
    <div class="row align-items-center text-center mb-5">
        <div class="col-lg-12 text-center">
            <h1>
                <u> Delicious Pizz You Will Like</u>
            </h1>
        </div>
    </div>
    <div class="row" id="itemsContainer">
        <!-- items -->
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="cheese_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Cheese Pizza">
            <p class="h3">Cheese Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="double_cheese_margherita_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Double Cheese Margherita Pizza">
            <p class="h3">Double Cheese Margherita Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="cheese_n_corn_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Cheese N Corn Pizza">
            <p class="h3">Cheese N Corn Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="chicken_golden_delight_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Golden Delight Chicken Pizza">
            <p class="h3">Golden Delight Chicken Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="pepper_barbeccue_chicken_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Pepper Barbeccue Chicken Pizza">
            <p class="h3">Pepper Barbeccue Chicken Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6  text-center mb-3" id="non_veg_supreme_pizza">
            <img class="img-fluid rounded" src="public/image_asset/pizza.jpg" alt="Non Veg Supreme Pizza">
            <p class="h3">Non Veg Supreme Pizza</p>
            <p class="lead">Rs.320</p>
        </div>
    </div>
</section>